* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    opacity: .7;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}
nav ul {
    margin: 0 auto;
    max-width: 867px;
    list-style-type: none;
    padding: 10px 0;
    
    display: flex;
    justify-content: space-between;  
    
}

nav ul li a {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #020c1f;
    padding: 20px 25px;
}


nav ul li a:hover {
    border-bottom: darkblue solid 3px;   
}

